<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Sua saúde nas suas mãos</li>
    <li class="list-seperator"></li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="/"><i class="fa fa-home"></i> <span>Página inicial</span></a></li>
    <li><a href="/Cadastro"><i class="fa fa-user-o"></i> <span>Cadastro</span></a></li>
    <li><a href="/DadosMedicos"><i class="fa fa-stethoscope"></i> <span>Dados Médicos</span></a></li>
    <li><a href="/Ficha"><i class="fa fa-file-text-o"></i> <span>Ficha de Saúde</span></a></li>
    <li><a href="/Medicamentos"><i class="fa fa-tint"></i> <span>Medicamentos</span></a></li>
    <li><a href="/Contatos"><i class="fa fa-address-book-o"></i> <span>Contatos de Emergência</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-history"></i> <span>Históricos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Historicos/Geral">Geral</a></li>
            <li><a href="/Historicos/Peso">Peso</a></li>
            <li><a href="/Historicos/PressaoArterial">Pressão arterial</a></li>
        </ul>
    </li>
    <li><a href="/Agenda"><i class="fa fa-calendar"></i> <span>Agenda</span></a></li>
    <li><a href="/Exames"><i class="fa fa-paperclip"></i> <span>Exames</span></a></li>
    <!--<li><a href="/convenios"><i class="fa fa-ambulance"></i> <span>Convênios</span></a></li>-->
    <li><a href="/Prontuarios"><i class="fa fa-folder-open-o"></i> <span>Prontuários</span></a></li>
    @*<li><a href="/Relatorios"><i class="fa fa-area-chart"></i> <span>Relatórios</span></a></li>*@
    <li><a href="/Mapa"><i class="fa fa-map-o"></i> <span>Mapa de clínicas</span></a></li>
    <li><a href="/Forum"><i class="fa fa-users"></i> <span>Fórum</span></a></li>
</ul>